{% extends './base.html' %}

{% block content %}
	
	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="../../static/img/page-top-bg/4.jpg">
		<div class="page-info">
			<h2>Menu</h2>
			<div class="site-breadcrumb">
				<a href="home">Home</a>/  
				<span>Menu</span>
			</div>
		</div>
	</section>
	
    <section class="blog-page">
        <div class="container">
			<div class="row">
                <h2 id="menuContato">Menu de Ajuda</h2>
                <a id="linkContato" target="_blank" href="https://www.google.com/">Download</a>
            </div>
        </div>
    </section>
	

{% endblock %}