{% extends './base.html' %}

{% block content %}
<section class="page-top-section set-bg" data-setbg="../../static/img/page-top-bg/4.jpg">
	<div class="page-info">
		<h2>Sobre</h2>
		<div class="site-breadcrumb">
			<a href="home">Home</a> /
			<span>Sobre</span>
		</div>
	</div>
</section>
<section class="games-single-page">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
				<h2 class="gs-title">Quem somos?</h2>
				<p>Aqui no BlogGames escrevemos sobre todos os assuntos relacionados a jogos para PC, incluindo
					notícias, recursos, guias, análises e muito mais. Cobrimos tudo o que consideramos interessante para
					os jogadores de PC - grandes ou pequenos, antigos ou novos. Com uma grande e dedicada equipe
					editorial, estamos sempre buscando tornar o site e nossa cobertura melhores para nosso público.</p>

				<h4>Editorial</h4>
				<div id="linha"></div>
				<div id="autorsobre">
					<P>
					<figure class="figure"><img class="rounded float-center" src="../../static/img/author.jpg"
							align="left" height="100" width="100">
						<figcaption class="figure-caption"> Carlos Daniel</figcaption>
					</figure>
					<div id="doidera">
						
						Amante da programação...</p>
		
					</div>
					
				</div>
				
				<div id="autorsobre">
					<p>
					<figure class="figure"><img class="rounded float-center"
							src="../../static/img/comment-widget/images.jpeg" align="left" height="100" width="100">
						<figcaption class="figure-caption">Elievelton</figcaption>
					</figure>
					<div id="doidera">
						<p>Amante da tecnologia, especialista em SEO.</p>
					</div>
				</div>
				<div class="geme-social-share pt-5 d-flex">
					<p>Redes Sociais:</p>
					<a href="#"><i class="fa fa-pinterest"></i></a>
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-dribbble"></i></a>
					<a href="#"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}